<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581_960_720.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>